.Person {
  border: 1px solid;
  width: 33%;
  min-height: 210px;
  margin: 20px auto;
  padding: 0 10px 10px;
}

.Person.Greenyellow {
  background: greenyellow;
}

.Person.Darkorange {
  background: darkorange;
  color: black;
}

@media (min-width: 768px) {
  .Person {
    width: 66%;
  }
}

@media (min-width: 960px) {
  .Person {
    width: 90%;
  }
}

.upper {
  text-transform: uppercase;
}

.purple {
  color: purple;
}
